<h1>New book</h1>

<%= form_with model: [@library, Book.new] do |form|%>
  Book:
  <%= form.text_area :author  %>
  <%= form.text_area :genre %>
  <%= form.submit  %>
<%= end %>

<br>

<div>
  <%= link_to "Back", libraries_path %>
</div>
